body{
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    background-color: #EEEEEE;
}
h1{
    font-family: 'IBM Plex Serif', serif;
    position: relative;
    left: 25%;
    bottom: 215px;
    color: #fff;
}
.h2,h2{
    font-family: 'Lilita One', cursive;
    font-size: 2rem;
    color: darkcyan;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-family: 'Pushster', cursive;
}
hr{
    width: 10%;
    border-style:none;
    border-top-style:dotted ;
    border-color: rgb(83, 5, 5);
    border-width: 8px;
}

@media (max-width:1200px) {
.left,.im{
    width: 100%;
}
.head{
    margin-top: 210px;
    text-align: center;
    padding-top: 5px;
    font-size:50px;
    position: relative;
    right: 25%;

}
#ctn-list{
    width:100%;
}
.img{
    width: 80%;
}
}

/* HEADER SECTION */

.container-fluid{
    padding: 3% 15%;
    background-image: url(/images/image\ edit.png);
}
.img{
    padding: 3%;  
}

.par{
    font-family: 'Sacramento', cursive;
    font-size:75px;
    position: relative;
    left: 25%;
    bottom: 180px;
    color: #fff;

}

/* navigation section */

.navbar{
    font-family: 'Lilita One', cursive;
    font-size: 20px;
   
}
/* middle section */
#middle{
    background-color:#EEEEEE;
    padding: 3% 25%;
}

/* education section */
#edu{
    padding: 3% 15%;
}

.left{
    float: right;
    padding: 0 6% 3%;
}

/* hubby section */
#hubby{
    padding: 3% 15%;
}
.im{
 padding: 2% 8%;
 float: left;
}
.li{
    position: relative;
   padding-top: 15%;
} 

/* footer section */
#footer{
    padding: 3% 15%;
    background-color:#EEEEEE;
}
.fas{
    padding: 0 17% 3%;
    color: goldenrod;
}
.fas:hover{
    color: lightsalmon;
}

/* ctn section */
#ctn-list{
    padding: 3% 25%;
    background-color: #bbb;
    color: rgb(16, 17, 17);
}
#last{
    padding:3% 40%;
}


